<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35603413133-u1gmrps14d38li4vj2jr1tmvk7p6h47i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35603413133-u1gmrps14d38li4vj2jr1tmvk7p6h47i</string>
	<key>API_KEY</key>
	<string>AIzaSyDJMPpzF3ZwHjkEcKDo54Q0j5RoQtMAemA</string>
	<key>GCM_SENDER_ID</key>
	<string>35603413133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hasebe.TalkRoom1</string>
	<key>PROJECT_ID</key>
	<string>talkroom1-9fdb4</string>
	<key>STORAGE_BUCKET</key>
	<string>talkroom1-9fdb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:35603413133:ios:e4837c8b0ff9711d</string>
	<key>DATABASE_URL</key>
	<string>https://talkroom1-9fdb4.firebaseio.com</string>
</dict>
</plist>